@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-primary: #E8621A;
  --color-primary-foreground: #ffffff;
  --color-warning: #E8621A;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFBF7;
  color: #3B1A0E;
  font-family: 'Sarabun', sans-serif;
}
