@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-primary: #0388C4;
  --color-primary-foreground: #ffffff;
  --color-warning: #0388C4;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F8FAFC;
  color: #1E293B;
  font-family: 'Sarabun', sans-serif;
}

/* Hide scrollbar for Chrome/Safari */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
